.container {
  border: 1px solid blue;
  padding: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.status-box,
.area-box {
  padding: 10px;
  border: 1px solid black;
}

.status-box {
  background-color: #FFC080;
  /* Light orange */
  width: 30%;
}

.area-box {
  width: 30%;
}

.content {
  display: flex;
}

.left-panel,
.right-panel {
  display: flex;
  flex-direction: column;
}

.left-panel {
  margin-right: 20px;
}

.right-panel {
  flex-grow: 1;
}

.box {
  padding: 0px;
  padding-left: 10px;
  border: 1px solid black;
}

::ng-deep .mat-mdc-text-field-wrapper {
  background-color: white !important;
}

.lt-orange {
  background: #ffa500a3;
}

.well-list {
  font-size: 13px;
  margin-bottom: 8px;
}
