<div class="map-card">
  <div class="map-card__header">Active WWell Map</div>

  <div class="blueprint-view">
    <div #presMapViewNode class="wwell-map-canvas"></div>

    @if (!mapReady()) {
      <div class="map-loader">
        <span class="map-loader__spinner"></span>
        <span class="map-loader__label">Loading map…</span>
      </div>
    }

    @if (mapReady() && errorMessage()) {
      <div class="map-state">
        {{ errorMessage() }}
      </div>
    }
  </div>

  <div class="map-legend">
    <div class="map-legend__item">
      <span class="map-legend__dot map-legend__dot--water-supply"></span>
      <span class="map-legend__label">Water Supply</span>
    </div>
    <div class="map-legend__item">
      <span class="map-legend__dot map-legend__dot--abandoned"></span>
      <span class="map-legend__label">Water Disposal</span>
    </div>
    <div class="map-legend__item">
      <span class="map-legend__dot map-legend__dot--observation"></span>
      <span class="map-legend__label">Observation</span>
    </div>
    <div class="map-legend__item">
      <span class="map-legend__dot map-legend__dot--water-disposal"></span>
      <span class="map-legend__label">Abandoned</span>
    </div>
    <div class="map-legend__item">
      <span class="map-legend__dot map-legend__dot--other"></span>
      <span class="map-legend__label">Injection & Non Aramco</span>
    </div>
  </div>
</div>
