<mat-card class="wwell-map-card">
  <div class="wwell-map-header">
    <div>
      <h3 class="wwell-map-title">Map Of Active Water Wells</h3>
    </div>
  </div>


  <div class="wwell-map-frame">
    <div #mapViewNode class="wwell-map-canvas"></div>

    @if (!mapReady()) {
      <div class="map-loader">
        <span class="map-loader__spinner"></span>
        <span class="map-loader__label">Loading map…</span>
      </div>
    }
  </div>

  @if (mapReady()) {
  <div class="wwell-map-legend">
    <div class="wwell-map-legend__chip wwell-map-legend__chip--owner">
      Wells Ownership
    </div>
    <div class="wwell-map-legend__chip wwell-map-legend__chip--green">
      3300
    </div>
    <div class="wwell-map-legend__chip wwell-map-legend__chip--purple">
      58
    </div>
    <div class="wwell-map-legend__chip wwell-map-legend__chip--red">1514</div>
    <div class="wwell-map-legend__chip wwell-map-legend__chip--blue">60</div>
    <div class="wwell-map-legend__chip wwell-map-legend__chip--aquifer">
      Aquifer
    </div>
  </div>
  }
</mat-card>